.nav{
  border: 2px black solid;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:flex-start;
  gap: 100px;
}

.img{
  width: 200px;
  margin-top: -3px;
  margin-left: 26px;
}

.menu{
  margin-left: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

/* .list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
} */

.dropdown{
  border: 2px blue solid;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 30px;
}

.ar {
  width: 20px;
  height: 20px;
}
.item:hover{
  background: #eeebeb;
  cursor: pointer;
}

.item{
  border-radius: 6%;
  padding-left: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 17px;
  font-weight: 500;
}

#loans{
  display: none;
  position: absolute;
  margin-left: 570px;
  border: 2px black solid;
  width: 120px;
}

#insurance {
  display: none;
  position: absolute;
  margin-left: 720px;
  border: 2px black solid;
  width: 120px;
}

#credit-cards{
  display: none;
  position: absolute;
  margin-left: 860px;
  border: 2px black solid;
  width: 170px;
}

#resources {
  display: none;
  position: absolute;
  margin-left: 1060px;
  border: 2px black solid;
  width: 120px;
}

#personalLoan{ 
  display: none;
  width: 130px;
  border: 2px solid black;
  margin-left: 693px;
  position: absolute;
}

#businessLoan{
  display: none;
  width: 140px;
  border: 2px solid black;
  margin-left: 693px;
  margin-top: 20px;
  position: absolute;
}

#instantLoan{
  margin-top: 35px;
  display: none;
  width: 150px;
  border: 2px solid black;
  margin-left: 693px;
  position: absolute;
}

#professionalLoan{
  margin-top: 10px;
  display: none;
  width: 130px;
  border: 2px solid black;
  margin-left: 693px;
  position: absolute;
}

#secureLoan{
  margin-top: 10px;
  display: none;
  width: 130px;
  border: 2px solid black;
  margin-left: 693px;
  position: absolute;
}